<launch>
  <!-- size of map, change the size in x, y, z according to your application -->
  <arg name="map_size_x" default="100.0"/>
  <arg name="map_size_y" default="100.0"/>
  <arg name="map_size_z" default="3.5"/>
  <arg name="namespace" default="ant01"/>
  <arg name="init_x" default="0"/>
  <arg name="init_y" default="0"/>
    <arg name="drone_id" default="1"/>


  <!-- Global odom prefix -->
  <arg name="odom_prefix" value="/state_ukf/odom" />
  <arg name="drone_num" default="2" />

<include file="$(find task_allocation)/launch/task_allocation_single_z.xml">
    <arg name="drone_id" value="$(arg drone_id)"/>
    <arg name="init_x"   value="$(arg init_x)"/>
    <arg name="init_y"   value="$(arg init_y)"/>
    <arg name="init_z"   value="1"/> 
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odom_prefix" value="$(arg odom_prefix)"/>
    <arg name="drone_num" value="$(arg drone_num)"/>
    <arg name="namespace" value="$(arg namespace)"/>
    <!-- <arg name="namespace" value="ant01"/> -->
    <arg name="simulation" default="true"/>
  </include>

  <!-- <include file="$(find task_allocation)/launch/task_allocation_single_z.xml">
    <arg name="drone_id" value="2"/>
    <arg name="init_x"   value="-2"/>
    <arg name="init_y"   value="0"/>
    <arg name="init_z"   value="1"/> 
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odom_prefix" value="$(arg odom_prefix)"/>
    <arg name="drone_num" value="$(arg drone_num)"/>
    <arg name="simulation" default="true"/>
    <arg name="namespace" value="ant02"/>
  </include> -->

  <!-- <include file="$(find task_allocation)/launch/task_allocation_single_z.xml">
    <arg name="drone_id" value="3"/>
    <arg name="init_x"   value="-4"/>
    <arg name="init_y"   value="0"/>
    <arg name="init_z"   value="1"/> 
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odom_prefix" value="$(arg odom_prefix)"/>
    <arg name="drone_num" value="$(arg drone_num)"/>
    <arg name="simulation" default="true"/>
    <arg name="namespace" value="ant03"/>
  </include> -->

  <!-- <include file="$(find exploration_manager)/launch/single_drone_exploration.xml">
    <arg name="drone_id" value="4"/>
    <arg name="init_x"   value="0"/>
    <arg name="init_y"   value="0"/>
    <arg name="init_z"   value="1"/> 
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odom_prefix" value="$(arg odom_prefix)"/>
    <arg name="drone_num" value="$(arg drone_num)"/>
    <arg name="simulation" default="true"/>
  </include> -->

  <!-- <include file="$(find exploration_manager)/launch/single_drone_exploration.xml">
    <arg name="drone_id" value="5"/>
    <arg name="init_x"   value="1"/>
    <arg name="init_y"   value="1"/>
    <arg name="init_z"   value="1"/> 
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odom_prefix" value="$(arg odom_prefix)"/>
    <arg name="drone_num" value="$(arg drone_num)"/>
    <arg name="simulation" default="true"/>
  </include> -->
  

  <!-- <include file="$(find exploration_manager)/launch/single_drone_exploration.xml">
    <arg name="drone_id" value="6"/>
    <arg name="init_x"   value="0"/>
    <arg name="init_y"   value="1"/>
    <arg name="init_z"   value="1"/> 
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odom_prefix" value="$(arg odom_prefix)"/>
    <arg name="drone_num" value="$(arg drone_num)"/>
    <arg name="simulation" default="true"/>
  </include> -->

  <!-- <include file="$(find exploration_manager)/launch/single_drone_exploration.xml">
    <arg name="drone_id" value="7"/>
    <arg name="init_x"   value="-1"/>
    <arg name="init_y"   value="1"/>
    <arg name="init_z"   value="1"/> 
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odom_prefix" value="$(arg odom_prefix)"/>
    <arg name="drone_num" value="$(arg drone_num)"/>
    <arg name="simulation" default="true"/>
  </include> -->

  <!-- <include file="$(find exploration_manager)/launch/single_drone_exploration.xml">
    <arg name="drone_id" value="8"/>
    <arg name="init_x"   value="-1"/>
    <arg name="init_y"   value="0"/>
    <arg name="init_z"   value="1"/> 
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odom_prefix" value="$(arg odom_prefix)"/>
    <arg name="drone_num" value="$(arg drone_num)"/>
    <arg name="simulation" default="true"/>
  </include> -->

  <!-- <include file="$(find exploration_manager)/launch/single_drone_exploration.xml">
    <arg name="drone_id" value="9"/>
    <arg name="init_x"   value="-1"/>
    <arg name="init_y"   value="-1"/>
    <arg name="init_z"   value="1"/> 
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odom_prefix" value="$(arg odom_prefix)"/>
    <arg name="drone_num" value="$(arg drone_num)"/>
    <arg name="simulation" default="true"/>
  </include> -->

  <!-- <include file="$(find exploration_manager)/launch/single_drone_exploration.xml">
    <arg name="drone_id" value="10"/>
    <arg name="init_x"   value="0"/>
    <arg name="init_y"   value="-5.0"/>
    <arg name="init_z"   value="1"/> 
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odom_prefix" value="$(arg odom_prefix)"/>
    <arg name="drone_num" value="$(arg drone_num)"/>
    <arg name="simulation" default="true"/>
  </include> -->

</launch>
