<launch>
    <arg name="namespace" default="ant05"/>
    <!-- 定位参数 -->

    <!-- 底盘驱动参数 -->
    <arg name="send_port_Remote" default="1"/>
    <arg name="receive_port_Remote" default="2"/>
    <arg name="server_ip_Remote" default="127.0.0.1"/>
    <arg name="client_ip_Remote" default="127.0.0.2"/>

    <arg name="send_port_vehicle" default="3"/>
    <arg name="receive_port_vehicle" default="4"/>
    <arg name="server_ip_vehicle" default="127.0.0.3"/>
    <arg name="client_ip_vehicle" default="127.0.0.4"/>
    <!-- 规划控制参数 -->
    <arg name="leader" default="false"/>
    <arg name="cameraOffsetZ" default="0"/>
    <arg name="sensorOffsetX" default="0"/>
    <arg name="sensorOffsetY" default="0"/>
    <arg name="vehicleX" default="3"/>
    <arg name="vehicleY" default="0"/>
    <arg name="terrainZ" default="0"/>
    <arg name="vehicleYaw" default="0"/>
    <arg name="gazebo_gui" default="false"/>
    <arg name="checkTerrainConn" default="true"/>
    <!-- 编队参数   TODO: ID不用设置，读取ant01中的数字然后自动减一 -->
    <arg name="ID" default="4"/>    
    <arg name="formation_length_unit" default="1.5"/>
    <arg name="cubic_spline_hz" default="10.0"/>
    <arg name="Kp" default="0.25"/>
    <arg name="Ki" default="0.0"/>
    <arg name="Kd" default="0.0"/>
    <arg name="Kp2" default="0.25"/>
    <arg name="Ki2" default="0.05"/>
    <arg name="Kd2" default="0.0"/>
    <arg name="Kp1" default="0.45"/>
    <arg name="Kd1" default="0.25"/>
    <arg name="overall_length" default="1.5"/>
    <arg name="formation_type" default="0"/>
    <arg name="controller_type" default="1"/>
    <arg name="headway" default="2.5"/>
    <arg name="emlike_hz" default="25"/>
    <arg name="add_lateral_threshold" default="0.3"/>
    <arg name="add_yaw_threshold" default="0.52"/>
    <arg name="vmin" default="0.0"/>
    <arg name="vmax" default="2.0"/>
    <arg name="max_deceleration" default="0.3"/>
    <arg name="max_acceleration" default="0.3"/>
    <arg name="forecast_time" default="0.8"/>
    <arg name="reconfiguration_duration" default="3.0"/>
    

    <group ns = "$(arg namespace)">

        <!-- 启动定位相关模块 -->
        <!-- <include file="$(find vehicle_rea)/launch/sub_module/location.launch">
        </include>
        <include file="$(find ants_location_interface)/launch/ants_location_interface_rea.launch">
        </include> -->

        <!-- 与底盘UDP通信部分，首先启动操纵端，然后启动通信端发送指令并解析回报的数据 -->
        <!-- <include file="$(find vehicle_rea)/launch/sub_module/control_driver.launch">

        <arg name="send_port_Remote" value="$(arg send_port_Remote)" />
        <arg name="receive_port_Remote" value="$(arg receive_port_Remote)" />
        <arg name="server_ip_Remote" value="$(arg server_ip_Remote)"/>
        <arg name="client_ip_Remote" value="$(arg client_ip_Remote)"/>

        <arg name="send_port_vehicle" value="$(arg send_port_vehicle)" />
        <arg name="receive_port_vehicle" value="$(arg receive_port_vehicle)"/>
        <arg name="server_ip_vehicle" value="$(arg server_ip_vehicle)"/>
        <arg name="client_ip_vehicle" value="$(arg client_ip_vehicle)"/>
        </include> -->

        <!-- 启动规划与控制模块 -->
        <group if="$(arg leader)">
            <include file="$(find ants_local_planner_free)/launch/local_planner_free_rea.launch" >
                <arg name="cameraOffsetZ" value="$(arg cameraOffsetZ)"/>
                <arg name="namespace" value="$(arg namespace)"/>
                <arg name="goalX" value="$(arg vehicleX)"/>
                <arg name="goalY" value="$(arg vehicleY)"/>
            </include>
        </group>

        <group unless="$(arg leader)">
            <include file="$(find ants_local_planner_swarm)/launch/avoid_paths_rea.launch" >
                <arg name="cameraOffsetZ" value="$(arg cameraOffsetZ)"/>
                <arg name="namespace" value="$(arg namespace)"/>
                <arg name="goalX" value="$(arg vehicleX)"/>
                <arg name="goalY" value="$(arg vehicleY)"/>
            </include>

            <include file="$(find ants_local_planner_swarm)/launch/ant_follower_b_rea.launch" >
                <arg name="namespace" value="$(arg namespace)" />
                <arg name="ID" value="$(arg ID)"/>
                <arg name="formation_length_unit" value="$(arg formation_length_unit)"/>
                <arg name="cubic_spline_hz" value="$(arg cubic_spline_hz)"/>
                <arg name="Kp" value="$(arg Kp)"/>
                <arg name="Ki" value="$(arg Ki)"/>
                <arg name="Kd" value="$(arg Kd)"/>
                <arg name="Kp2" value="$(arg Kp2)"/>
                <arg name="Ki2" value="$(arg Ki2)"/>
                <arg name="Kd2" value="$(arg Kd2)"/>
                <arg name="Kp1" value="$(arg Kp1)"/>
                <arg name="Kd1" value="$(arg Kd1)"/>
                <arg name="overall_length" value="$(arg overall_length)"/>
                <arg name="formation_type" value="$(arg formation_type)"/>
                <arg name="controller_type" value="$(arg controller_type)"/>
                <arg name="headway" value="$(arg headway)"/>
                <arg name="emlike_hz" value="$(arg emlike_hz)"/>
                <arg name="add_lateral_threshold" value="$(arg add_lateral_threshold)"/>
                <arg name="add_yaw_threshold" value="$(arg add_yaw_threshold)"/>
                <arg name="vmin" value="$(arg vmin)"/>
                <arg name="vmax" value="$(arg vmax)"/>
                <arg name="max_deceleration" value="$(arg max_deceleration)"/>
                <arg name="max_acceleration" value="$(arg max_acceleration)"/>
                <arg name="forecast_time" value="$(arg forecast_time)"/>
                <arg name="reconfiguration_duration" value="$(arg reconfiguration_duration)"/>
            </include>
        </group>

        <include file="$(find ants_paths_follower)/launch/paths_follower_rea.launch" >
            <arg name="cameraOffsetZ" value="$(arg cameraOffsetZ)"/>
            <arg name="namespace" value="$(arg namespace)"/>
            <arg name="goalX" value="$(arg vehicleX)"/>
            <arg name="goalY" value="$(arg vehicleY)"/>
        </include>
        <include file="$(find ants_passable_area_analysis)/launch/ants_passable_area_analysis_rea.launch" >
            <arg name="checkTerrainConn" value="$(arg checkTerrainConn)"/>
            <arg name="namespace" value="$(arg namespace)"/>
        </include>
        <include file="$(find sensor_scan_generation)/launch/sensor_scan_generation_rea.launch" >
            <arg name="namespace" value="$(arg namespace)"/>
        </include>

        <node pkg="tf" type="static_transform_publisher" name="vehicleTransPublisher" 
            args="-$(arg sensorOffsetX) -$(arg sensorOffsetY) 0 0 0 0 $(arg namespace)/sensor $(arg namespace)/vehicle 1000"/>

        <node pkg="tf" type="static_transform_publisher" name="sensorTransPublisher" 
            args="0 0 $(arg cameraOffsetZ) -1.5707963 0 -1.5707963 $(arg namespace)/sensor $(arg namespace)/camera 1000"/>

    </group>
</launch>